option_settings:
  "aws:elasticbeanstalk:container:python":
    WSGIPath: aws/application.py
  "aws:elasticbeanstalk:application:environment":
    PYTHONPATH: "/var/app/current:/var/app/current/aws"
    STREAMLIT_SERVER_PORT: 8501
    STREAMLIT_SERVER_HEADLESS: true

packages:
  yum:
    git: []
    gcc: []
    gcc-c++: []
    make: []
    openssl-devel: []
    libffi-devel: [] 