option_settings:
  aws:elasticbeanstalk:application:environment:
    ELEVENLABS_API_KEY: __REPLACE_WITH_ACTUAL_KEY__
    SYNC_SO_API_KEY: __REPLACE_WITH_ACTUAL_KEY__
    AWS_ACCESS_KEY_ID: __REPLACE_WITH_ACTUAL_KEY__
    AWS_SECRET_ACCESS_KEY: __REPLACE_WITH_ACTUAL_KEY__
    OPENAI_API_KEY: __REPLACE_WITH_ACTUAL_KEY__
    AWS_S3_BUCKET: vectorverseevolve
    AWS_S3_REGION: us-west-2 